@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

html {
  /*font-size: 62.5%; !* (62.5/100) * 16px = 10px *!*/
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

body {
  font-size: 1.6rem;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}